@charset "UTF-8";
body{
    background-color: #121c4063
    
}
h1{

    color: #A65362;
}
h1#Principal{
    color: #B1B4BB;

    text-align: center;
    background-color: #664ba6a9;
}
h2{
    color: #A65362;
}
.basico{
color: green;
}
.intermediario{
color: yellowgreen;
font-weight: bold;
}
.avancado{
color: red;
}
.destaque{

    background-color: rgba(56, 28, 28, 0.733);
    
}

